@import "helpers/_variable";
@import "helpers/_mixin";

@import "_reset";

@import "layout/_grid";
@import "layout/_structure";

@import "components/_animation";
@import "components/_bg";
@import "components/_btn";
@import "components/_font";
@import "components/_list";

@import "layout/_header";
@import "layout/_footer";
@import "layout/_index";

body {
  overflow: auto;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1920px;
  position: relative;
}

// #index {
//   &::after {
//     content: "";
//     padding-bottom: 260%;
//     margin: 0 auto;
//     width: 100%;
//     max-width: 1920px;
//     background: url(../img/UMC_0530.jpg) top center no-repeat;
//     background-size: contain;
//     opacity: 0.5;
//     position: absolute;
//     top: 26px;
//     right: 0;
//     left: 0;
//     z-index: 1;
//     pointer-events: none;
//   }
// }
