@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700;900&display=swap");

/* ---------TEXT------------- */
html {
  font-size: 16px;
}

body {
  font-family: $font-content;
  font-weight: 400;
  color: $color-text;
  position: relative;
}

option {
  font-family: $font-content;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
small {
  font: inherit;
  color: inherit;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 2.25em;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 1.25;

  &.title-img {
    margin: 0 auto 1em;
    width: 16em;
    max-width: 100%;
  }
}

h3 {
  margin-bottom: 0.4em;
  font-size: 2em;
  font-family: $font-title;
  font-weight: bold;
  letter-spacing: 0.018em;
  line-height: 1.25;
}

h4 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1.25;
}

h5 {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.018em;
}

h6 {
  font-size: 1.125em;
  letter-spacing: 0.08em;
}

a {
  display: inline-block;
  text-decoration: none;
  letter-spacing: inherit;
}

p {
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.75;
  text-align: justify;
  text-align-last: left;
}

b,
strong {
  letter-spacing: inherit;
  font-weight: bolder;
}

small {
  font-size: 0.875em;
  line-height: inherit;
}

.color-black {
  color: $text-black;
}

.color-white {
  color: $text-white;
}

.color-blue {
  color: $text-blue;
}

.color-red {
  color: $text-red;
}

.color-yellow {
  color: $text-yellow;
}

.color-orange {
  color: $txt-orange;
}

.color-grey-lighter {
  color: $text-grey-lighter;
}

.color-grey {
  color: $text-grey;
}

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-highlight {
  color: $color-highlight;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;

  p {
    text-align: center;
    text-align-last: center;
  }
}

.bold {
  font-weight: bolder;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.font-content {
  font-family: $font-content;
}

h2,
h3,
h4,
.font-title {
  font-family: $font-title;
}

.font-serif {
  font-family: $font-serif;
}

.font-en {
  font-family: $font-en;
}

.text-larger {
  font-size: 1.125em;
}

.fs-48 {
  font-size: 48px;
}

.fs-39 {
  font-size: 39px;
}

.fs-38 {
  font-size: 38px;
}

.fs-32 {
  font-size: 32px;
}

.fs-31 {
  font-size: 31px;
}

.fs-26 {
  font-size: 26px;
}

.fs-24 {
  font-size: 24px;
}

.fs-22 {
  font-size: 22px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

/* -------------RWD--------------- */
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  h2 {
    &.title-img {
      width: 13em;
    }
  }

  .fs-48 {
    font-size: 38px;
  }

  .fs-39 {
    font-size: 33px;
  }

  .fs-38 {
    font-size: 32px;
  }

  .fs-32 {
    font-size: 26px;
  }

  .fs-31 {
    font-size: 25px;
  }

  .fs-26 {
    font-size: 22px;
  }

  .fs-24 {
    font-size: 20px;
  }

  .fs-22 {
    font-size: 18px;
  }

  .fs-20 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .fs-48 {
    font-size: 32px;
  }

  .fs-39 {
    font-size: 29px;
  }

  .fs-38 {
    font-size: 28px;
  }

  .fs-32 {
    font-size: 24px;
  }

  .fs-31 {
    font-size: 23px;
  }

  .fs-26 {
    font-size: 20px;
  }

  .fs-24 {
    font-size: 18px;
  }

  .fs-22 {
    font-size: 16px;
  }

  .fs-20 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2em;
  }

  p {
    line-height: 1.875;
  }
}
@media screen and (max-width: 620px) {
  h2 {
    font-size: 2em;
  }

  p {
    font-weight: 400;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }

  h2 {
    &.title-img {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 1.4em;
  }

  .fs-48 {
    font-size: 28px;
  }

  .fs-39 {
    font-size: 25px;
  }

  .fs-38 {
    font-size: 24px;
  }

  .fs-32 {
    font-size: 22px;
  }

  .fs-31 {
    font-size: 21px;
  }

  .fs-26 {
    font-size: 18px;
  }

  .fs-24 {
    font-size: 16px;
  }

  .fs-22 {
    font-size: 14px;
  }

  .fs-20 {
    font-size: 12px;
  }

  .fs-18 {
    font-size: 12px;
  }
}
