<template>
  <div id="index">
    <div class="adBar">
      <div class="container">
        <div class="left">廣告企劃</div>
        <div class="right">→ 以下內容是由 聯華電子 提供</div>
      </div>
    </div>
    <a
      @click="scrollToPosition($refs.resume.offsetTop)"
      id="btn-fix"
      class="btn-fix fixButton--1"
      :class="{ 'is-show': showNavbar }"
    >
      <img
        src="@/assets/img/btn_resume01.svg"
        alt="投遞履歷"
        class="d-768-none"
      />
      <h2><span>投遞</span>履歷</h2>
    </a>
    <a
      :href="join[0].link"
      target="_blank"
      class="btn-fix fixButton--2 d-768-none"
      :class="{ 'is-show': showNavbar }"
    >
      <img src="@/assets/img/btn_resume02.svg" alt="竹科技術員" />
      <h2><span>竹科</span>技術員</h2>
    </a>
    <a
      :href="join[1].link"
      target="_blank"
      class="btn-fix fixButton--3 d-768-none"
      :class="{ 'is-show': showNavbar }"
    >
      <img src="@/assets/img/btn_resume02.svg" alt="南科技術員" />
      <h2><span>南科</span>技術員</h2>
    </a>
    <div class="wrapper">
      <header id="header" :class="{ 'is-fixed': showNavbar }">
        <div class="container w1200 h-full flex-nowrap align-items-center">
          <a href="./index.html" class="logo" @click="showMenu = false">
            <picture>
              <source
                media="(max-width: 768px)"
                srcset="@/assets/img/logo.png"
              />
              <img src="@/assets/img/logo.png" alt="聯華電子" />
            </picture>
          </a>
          <scrollactive
            ref="scrollactive"
            :offset="navOffset"
            :modifyUrl="false"
            :class="{ active: showMenu }"
          >
            <a
              href="#salary"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >薪資待遇</a
            >
            <a
              href="#resume"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >投遞履歷</a
            >
            <a
              href="#benefit"
              class="scrollactive-item"
              @click.prevent="
                () => {
                  showMenu = false;
                }
              "
              >福利多＋點</a
            >
          </scrollactive>
          <div
            id="hamburger"
            :class="{ active: showMenu }"
            @click="showMenu = !showMenu"
          >
            <span></span>
          </div>
        </div>
      </header>
      <section
        id="kv"
        ref="kv"
        data-aos="kv-animation"
        data-aos-anchor="top top"
        title="【聯華電子－高薪技術員南北聯合募集】"
      >
        <div class="kv__content">
          <h1>
            <div class="kv__content__image">
              <img
                src="@/assets/img/sec_kv/title.svg"
                alt="【聯華電子－高薪技術員南北聯合募集】全球第二晶圓專工品牌！竹科、南科技術員募集，高中職以上，經驗不拘，豐厚獎金等你拿！"
                class="kv__content__image__title"
                draggable="false"
              />
              <img
                src="@/assets/img/sec_kv/title_speaker.svg"
                alt=""
                class="kv__content__image__speaker"
                draggable="false"
              />
            </div>
            <div class="sr-only">
              【聯華電子－高薪技術員南北聯合募集】全球第二晶圓專工品牌！竹科、南科技術員募集，高中職以上，經驗不拘，豐厚獎金等你拿！
            </div>
          </h1>
          <div class="kv__content__title fs-48">
            <div class="circle-front bg-red">竹</div>
            <div class="circle-end bg-red">科</div>
            <div class="circle-front bg-green">南</div>
            <div class="circle-end bg-green">科</div>
            <div class="normal">技術員</div>
          </div>
          <ul class="kv__content__subTitle">
            <li class="anim-li-1">
              <div class="sub fs-22">條件：</div>
              <div class="content fs-20">高中職以上，經驗不拘</div>
            </li>
            <li class="anim-li-2">
              <div class="sub fs-22">工作時間：</div>
              <div class="content fs-20">四班二輪/ 做二休二/ 固定班別</div>
            </li>
            <li class="anim-li-3">
              <div class="sub fs-22">工作內容：</div>
              <div class="content fs-20">無塵室生產機台操作</div>
              <div class="remark fs-18">(含傳送、目檢等，需著全套無塵衣)</div>
            </li>
          </ul>
        </div>
        <figure class="kv__figure">
          <img
            src="@/assets/img/Components.png"
            alt=""
            class="kv__figure__led1"
            draggable="false"
          />
          <img
            src="@/assets/img/Components.png"
            alt=""
            class="kv__figure__led2"
            draggable="false"
          />
          <img
            src="@/assets/img/Components.png"
            alt=""
            class="kv__figure__led3"
            draggable="false"
          />
          <img
            src="@/assets/img/sec_kv/spotlight.png"
            alt=""
            class="kv__figure__spotlight"
            draggable="false"
          />
          <img
            src="@/assets/img/sec_kv/ladder.png"
            alt=""
            class="kv__figure__ladder"
            draggable="false"
          />
          <img
            src="@/assets/img/sec_kv/doll.svg"
            alt=""
            class="kv__figure__doll"
            draggable="false"
          />
          <img
            src="@/assets/img/sec_kv/bubble.svg"
            alt=""
            class="kv__figure__bubble"
            draggable="false"
          />
        </figure>
      </section>
      <section id="salary" ref="salary" title="薪資待遇多＋１點">
        <div class="bg">
          <div class="bg__bottom"></div>
          <img
            src="@/assets/img/sec_salary/wow.png"
            alt=""
            class="bg__led"
            draggable="false"
          />
          <img
            src="@/assets/img/sec_salary/doll_sec1.svg"
            alt=""
            class="bg__doll"
            draggable="false"
          />
        </div>
        <div class="container w1200 align-center">
          <div class="title" data-aos="title-animation" data-aos-offset="-100">
            <img
              src="@/assets/img/sec_salary/title.svg"
              alt=""
              draggable="false"
            />
          </div>
          <div class="content flex-wrap">
            <div
              class="content__card card--1"
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-mirror="true"
              data-aos-once="true"
            >
              <img
                src="@/assets/img/sec_salary/subtitle_l.svg"
                alt=""
                class="img__title"
                draggable="false"
              />
              <ul class="top fs-32">
                <li class="time color-yellow">19:20~07:20</li>
                <li class="pay color-yellow">
                  平均月薪<span class="fs-38">39,300</span>
                </li>
              </ul>
              <ul class="bottom fs-24">
                <img
                  src="@/assets/img/sec_salary/bubble.svg"
                  alt=""
                  class="img__remark"
                  draggable="false"
                />
                <li class="check color-white">新人簽約金<span>20,000</span></li>
                <li class="check color-white">久任獎金<span>20,000</span></li>
                <li class="check color-white">
                  夜班服務獎金<span>30,000</span>
                </li>
                <li class="check color-white">
                  竹科夜班推薦獎金<span>12,000</span>
                </li>
              </ul>
            </div>
            <div
              class="content__card card--2"
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-mirror="true"
              data-aos-once="true"
            >
              <img
                src="@/assets/img/sec_salary/subtitle_r.svg"
                alt=""
                class="img__title"
                draggable="false"
              />
              <ul class="top fs-32">
                <li class="time color-yellow">07:20~19:20</li>
                <li class="pay color-yellow">
                  平均月薪<span class="fs-38">32,800</span>
                </li>
              </ul>
              <ul class="bottom fs-24">
                <img
                  src="@/assets/img/sec_salary/bubble.svg"
                  alt=""
                  class="img__remark"
                  draggable="false"
                />
                <li class="check color-white">新人簽約金<span>15,000</span></li>
                <li class="check color-white">久任獎金<span>20,000</span></li>
              </ul>
            </div>
          </div>
          <div class="battery">
            <div
              class="battery__title"
              data-aos="fade-left"
              data-aos-delay="0"
              data-aos-mirror="true"
              data-aos-once="false"
            >
              <img src="@/assets/img/sec_salary/subtitle_b.svg" alt="" />
            </div>
            <div
              class="battery__content"
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-mirror="true"
              data-aos-once="true"
            >
              <div class="battery__content--left">
                <img src="@/assets/img/sec_salary/battery.svg" alt="" />
              </div>
              <div class="battery__content--right fs-20">
                <ul class="top fs-26">
                  <li class="light color-white">
                    <span>免費</span>上下班交通車
                  </li>
                  <li class="light color-white">餐費當餐補助</li>
                  <li class="light color-white">
                    <span>免費</span>新人住宿2個月
                  </li>
                </ul>
                <ul class="bottom">
                  <li class="color-white">+再享三節獎金、公司盈餘分紅</li>
                  <li class="remark color-grey-lighter fs-18">
                    各項獎金、薪資、津貼與福利事項依公司相關規定辦理
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="resume" ref="resume" title="投遞履歷">
        <div class="bg">
          <div class="bg__plane">
            <img
              src="@/assets/img/sec_resume/airplane_r.svg"
              alt=""
              class="bg__plane__1"
              draggable="false"
            />
            <img
              src="@/assets/img/sec_resume/airplane_r.svg"
              alt=""
              class="bg__plane__2"
              draggable="false"
            />
            <img
              src="@/assets/img/sec_resume/airplane_l.svg"
              alt=""
              class="bg__plane__3"
              draggable="false"
            />
            <img
              src="@/assets/img/sec_resume/airplane_l.svg"
              alt=""
              class="bg__plane__4"
              draggable="false"
            />
          </div>
          <img
            src="@/assets/img/sec_resume/doll-01.svg"
            alt=""
            class="bg__doll d-768-none"
            draggable="false"
          />
          <img
            src="@/assets/img/sec_resume/factory.png"
            alt=""
            class="bg__factory d-768-none"
            draggable="false"
          />
          <img
            src="@/assets/img/Components.png"
            alt=""
            class="bg__led d-768-none"
            draggable="false"
          />
        </div>
        <div class="container w1200 align-center">
          <div class="title" data-aos="title-animation" data-aos-offset="-100">
            <img
              src="@/assets/img/sec_resume/title.svg"
              alt=""
              draggable="false"
            />
          </div>
          <div class="content">
            <div
              v-for="(item, index) in join"
              :key="item.key"
              class="content__card flex-nowrap"
            >
              <div
                class="content__card__title"
                :class="{ 'title--2': index === 1 }"
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="true"
                data-aos-offset="-200"
              >
                <h4 class="fs-31">
                  <span class="fs-39">{{ item.title }}</span
                  >技術員
                </h4>
              </div>
              <ul
                class="content__card__detail fs-24"
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="true"
                data-aos-offset="-200"
              >
                <li class="color-blue">疫情期間，優先以遠端視訊進行面試</li>
                <li class="color-blue">
                  請先至104人力銀行 或 聯電官網
                  完成履歷投遞，將電話聯繫安排視訊面試時間
                </li>
              </ul>
              <a
                :href="item.link"
                target="_blank"
                class="application"
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="true"
                data-aos-offset="-200"
              >
                <img
                  src="@/assets/img/sec_resume/application.svg"
                  alt=""
                  draggable="false"
                />
              </a>
            </div>

            <div class="content__interview flex-nowrap">
              <div
                class="content__interview__card"
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="true"
              >
                <div class="title fs-31">平日面談</div>
                <ul class="content__interview__card--pl fs-20">
                  <li class="location color-red fs-22">竹科/南科廠</li>
                  <li class="color-black">週一-週五</li>
                  <li class="color-black">09:00 - 11:00</li>
                  <li class="color-black">13:00 - 15:00</li>
                </ul>
              </div>
              <div
                class="content__interview__card"
                data-aos="fade-up"
                data-aos-delay="0"
                data-aos-mirror="true"
                data-aos-once="true"
              >
                <div class="title fs-31">視訊面談</div>
                <ul class="fs-20">
                  <li class="color-red fs-22">
                    歡迎主動來電預約視訊 面談初試時間
                  </li>
                  <li class="color-black">竹科:03-5782258</li>
                  <li class="color-grey mb-8">分機31625、31985</li>
                  <li class="color-black">南科:06-5054888</li>
                  <li class="color-grey">分機18519、11663</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="benefit" ref="benefit" title="福利好康多＋１點">
        <div class="bg">
          <img
            src="@/assets/img/sec_benefit/bg_top.png"
            alt=""
            class="bg__left"
            draggable="false"
          />
          <img
            src="@/assets/img/Components.png"
            alt=""
            class="bg__led1"
            draggable="false"
          />
          <img
            src="@/assets/img/Components.png"
            alt=""
            class="bg__led2"
            draggable="false"
          />
          <img
            src="@/assets/img/Components.png"
            alt=""
            class="bg__led3 d-768-none"
            draggable="false"
          />
        </div>
        <div class="container w1200 align-center">
          <div class="title" data-aos="title-animation" data-aos-offset="-100">
            <img
              src="@/assets/img/sec_benefit/title.svg"
              alt=""
              draggable="false"
            />
          </div>
          <div class="content flex-wrap">
            <div
              class="content__card card--1"
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-mirror="true"
              data-aos-once="true"
            >
              <img
                src="@/assets/img/sec_benefit/doll_l.png"
                alt=""
                class="img__title"
                draggable="false"
              />
              <img
                src="@/assets/img/sec_benefit/bubble_l.svg"
                alt=""
                class="img__subTitle"
                draggable="false"
                data-aos="fade-left"
                data-aos-delay="3"
                data-aos-mirror="true"
                data-aos-once="false"
              />
              <img
                src="@/assets/img/sec_benefit/doll_b.png"
                alt=""
                class="img__remark d-768-none"
                draggable="false"
              />
              <ul class="fs-26">
                <li>具巿場競爭力之薪酬條件</li>
                <li>依擔任職務內容提供各式津貼</li>
                <li>
                  視公司政策發放不同項目獎金<span class="fs-20"
                    >(例:三節節慶獎金2個月、勉勵性之久任獎金、激勵獎金等)
                    屬非經常性獎金</span
                  >
                </li>
                <li>依個人績效年度調薪</li>
                <li>
                  員工酬勞(紅利)提撥<span class="remark fs-20"
                    >各項獎金、薪資、津貼與福利事項依公司相關規定辦理</span
                  >
                </li>
              </ul>
            </div>
            <div
              class="content__card card--2"
              data-aos="fade-up"
              data-aos-delay="0"
              data-aos-mirror="true"
              data-aos-once="true"
            >
              <img
                src="@/assets/img/sec_benefit/doll_r.png"
                alt=""
                class="img__title"
                draggable="false"
              />
              <img
                src="@/assets/img/sec_benefit/bubble_r.svg"
                alt=""
                class="img__subTitle"
                draggable="false"
                data-aos="fade-left"
                data-aos-delay="3"
                data-aos-mirror="true"
                data-aos-once="false"
              />
              <ul class="fs-26">
                <li>健康保險、勞工保險</li>
                <li>團體保險、癌症保險、眷屬團體保險、海外旅遊平安險</li>
                <li>各式社團及多元康樂活動</li>
                <li>廠區健身房及健身中心</li>
                <li>免費健檢與健康講座</li>
                <li>優質員工宿舍</li>
                <li>員工餐廳(正餐、宵夜、養生餐)</li>
                <li>廠區便利店咖啡店優惠折扣</li>
                <li>超過5000家特約商店優惠</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer id="footer">
      上述內容由 聯華電子 提供，104整合招募服務處代為維護管理<br />
      以上所提及之各公司與產品均分屬各相關公司與個別擁有者之商標<br />
      意見反應：02-29126104#8530
      <a
        href="//www.104.com.tw/question_admin/reaction.cfm"
        target="_blank"
        class="kad-ga"
        data-kad-action="link"
        data-kad-label="https://www.104.com.tw/question_admin/reaction.cfm"
        ><svg
          viewBox="0 0 20 14"
          width="18"
          height="12"
          preserveAspectRatio="none"
          stroke="currentColor"
          stroke-width="1"
          class="mail"
        >
          <rect x="1" y="1" width="18" height="12" rx="3" fill="#fff"></rect>
          <polyline points="1,11 10,5 19,11" fill="#fff"></polyline>
          <polyline points="1,4 10,10 19,4" fill="#fff"></polyline></svg></a
      ><br />
      本網站內容享有著作權，禁止侵害，違者必究。© 2001 -{{ getThisYear() }} 104
      Corporation All Rights Reserved
    </footer>
  </div>
</template>

<script>
import data from "../data.json";

export default {
  metaInfo: {
    title:
      "【聯華電子－高薪技術員南北聯合募集】全球第二晶圓專工品牌！竹科、南科技術員募集，高中職以上，經驗不拘，豐厚獎金等你拿！",
    meta: [
      {
        name: "description",
        content:
          "【聯華電子－薪資待遇多＋１點】日班、夜班技術員，班別固定待遇佳，高額獎金＋豐富福利，好福利超來電！",
      },
      {
        name: "keywords",
        content: "聯華電子,徵才,履歷,找工作,門市儲備店長,兼職人員,其他職缺",
      },
    ],
  },
  data() {
    return {
      join: data.join,
      swiperGalleryOption: {
        slidesPerView: 1,
        grabCursor: true,
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: true,
        },
        effect: "fade",
        fadeEffect: {
          crossFade: true,
        },
        breakpoints: {
          0: {
            navigation: false,
          },
          769: {
            navigation: {
              nextEl: ".swiper-gallery .swiper-button-next",
              prevEl: ".swiper-gallery .swiper-button-prev",
            },
          },
        },
      },
      swiperBenefitsOption: {
        breakpoints: {
          0: {
            slidesPerView: 1,
            allowTouchMove: true,
            simulateTouchMove: false,
            grabCursor: true,
            loop: true,
            threshold: 4,
            autoplay: {
              delay: 3000,
              disableOnInteraction: true,
            },
            navigation: {
              nextEl: ".swiper-benefits .swiper-button-next",
              prevEl: ".swiper-benefits .swiper-button-prev",
            },
          },
          769: {
            slidesPerView: 4,
            navigation: false,
            allowTouchMove: false,
            grabCursor: false,
            loop: false,
            autoplay: false,
            pagination: {
              el: ".swiper-benefits .swiper-pagination",
              type: "bullet",
              clickable: true,
            },
          },
        },
      },
      showNavbar: false,
      showMenu: false,
      lastScrollPosition: 0,
      scrollValue: 0,
      navOffset: 80,
    };
  },
  methods: {
    scrollToPosition(pos) {
      window.scrollTo({
        top: pos - this.navOffset,
        behavior: "smooth",
      });
    },
    onScroll() {
      this.showNavbar = window.pageYOffset > this.$refs.kv.clientHeight / 2;
    },
    onResize() {
      if (window.innerWidth <= 768) {
        this.navOffset = 50;
      } else {
        this.navOffset = 70;
      }
    },
    getThisYear() {
      return new Date().getFullYear();
    },
  },
  mounted() {
    window.addEventListener("load", () => {
      document.querySelector("body").classList.add("loaded");
    });
    window.addEventListener("scroll", this.onScroll);
    window.addEventListener("resize", this.onResize);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
    window.removeEventListener("resize", this.onResize);
  },
};
</script>
