/* stylelint-disable no-descending-specificity */
@charset 'utf-8';

#kv {
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;

  .kv {
    &__figure {
      padding-bottom: 48.2292%;
      margin: -1.16% auto 0;
      width: 100%;
      height: 0;
      background: url(../img/sec_kv/bg.jpg) center center no-repeat;
      background-size: cover;
      position: relative;

      &__led1 {
        width: 4.4%;
        position: absolute;
        bottom: 29%;
        left: 31.1%;
      }

      &__led2 {
        width: 5.625%;
        position: absolute;
        bottom: 25%;
        left: 43%;
      }

      &__led3 {
        width: 4.6%;
        position: absolute;
        bottom: 28%;
        left: 66.5%;
      }

      &__spotlight {
        width: 28%;
        position: absolute;
        top: 1.5%;
        left: 49.5%;
      }

      &__ladder {
        width: 25.5%;
        position: absolute;
        right: 0%;
        bottom: -1%;
      }

      &__doll {
        width: 17%;
        position: absolute;
        top: 46%;
        right: 8%;
      }

      &__bubble {
        width: 14%;
        position: absolute;
        top: 30%;
        right: 3%;
      }
    }

    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      margin: 0 auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 2;

      h1 {
        .kv__content__image {
          padding-top: 4.8%;
          padding-left: 2.3%;
          margin: 0 auto 0 0;
          width: 46.5%;
          position: relative;

          &__speaker {
            width: 19%;
            position: absolute;
            top: 60%;
            left: 6.6%;
          }
        }
      }

      &__title {
        padding-left: 4.2%;
        margin-top: 2%;
        font-weight: 500;
        color: $text-white;
        letter-spacing: 5px;

        > * {
          display: inline-block;
        }

        .circle-front {
          margin-left: 2%;

          &::before {
            position: absolute;
            top: -13%;
            left: -25%;
            z-index: -1;
          }
        }

        .circle-end {
          margin-right: 0.6%;

          &::before {
            position: absolute;
            top: -13%;
            left: -11%;
            z-index: -1;
          }
        }

        .normal {
          margin-left: 1.2%;
        }

        .bg-red {
          position: relative;

          &::before {
            content: "";
            display: block;
            width: 70px;
            height: 70px;
            background-color: $circle-red;
            border-radius: 50%;
          }
        }

        .bg-green {
          position: relative;

          &::before {
            content: "";
            display: block;
            width: 70px;
            height: 70px;
            background-color: $circle-green;
            border-radius: 50%;
          }
        }
      }

      &__subTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5.3%;
        margin-top: 2.5%;
        width: 1040px;
        max-width: 72%;

        .sub {
          padding-left: 20px;
          margin-bottom: 8px;
          color: $text-yellow;
          position: relative;

          &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 0 7px 14px;
            border-color: transparent transparent transparent $text-yellow;
            position: absolute;
            top: calc(50% - 7px);
            left: 0;
          }
        }

        .content {
          margin-bottom: 8px;
          color: $text-white;
        }

        .remark {
          color: $text-grey-light;
        }
      }
    }
  }

  // animation
  &[data-aos="kv-animation"] {
    &.aos-animate {
      .kv__content__image__title {
        @include animation(fadeInUp, 0.6s, 0.2s, ease, 1, both);
      }

      .kv__content__title {
        @include animation(fadeInRight, 0.6s, 0.5s, ease, 1, both);
      }

      .anim-li-1 {
        @include animation(fadeInRight, 0.6s, 0.8s, ease, 1, both);
      }

      .anim-li-2 {
        @include animation(fadeInRight, 0.6s, 1s, ease, 1, both);
      }

      .anim-li-3 {
        @include animation(fadeInRight, 0.6s, 1.2s, ease, 1, both);
      }

      .kv__content__image__speaker {
        @include animation(
          fadeInKvTitleWithHeartBeat,
          0.6s,
          1.5s,
          ease,
          1,
          both
        );
      }

      .kv__figure__bubble {
        @include animation(fadeInUp, 0.6s, 2.1s, ease, 1, both);
      }
    }
  }
}

.title {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  text-align: center;
  position: relative;

  // animation
  &[data-aos="title-animation"] {
    img {
      opacity: 0;
    }

    &.aos-animate {
      img {
        @include animation(fadeInUp, 0.6s, 0.2s, ease, 1, both);
      }
    }
  }
}

#salary {
  padding-top: 60px;
  padding-bottom: 240px;
  position: relative;

  // z-index: 3;

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &__led {
      width: 10.4%;
      position: absolute;
      bottom: 120px;
      left: 9%;
    }

    &__doll {
      width: 16%;
      position: absolute;
      right: 9%;
      bottom: 36px;
    }

    &__bottom {
      padding-bottom: 12.292%;
      width: 100%;
      background: url(../img/sec_salary/bottom.png) center bottom no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
    }

    &::before {
      content: "";
      padding-bottom: 38.646%;
      width: 100%;
      background: url(../img/sec_salary/bg_top.png) center bottom no-repeat;
      background-size: cover;
      position: absolute;
      top: -60px;
    }

    &::after {
      content: "";
      padding-bottom: 38.646%;
      width: 100%;
      background: url(../img/sec_salary/bg_bottom.png) center bottom no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 70px;
      z-index: -1;
    }
  }

  .content {
    justify-content: space-between;
    margin: 70px auto 0;
    width: 100%;

    &__card {
      margin-top: 70px;
      margin-bottom: 70px;
      width: 46%;
      text-align: center;
      border: 12px solid transparent;
      box-shadow: 10px 7px 15px -4px $text-grey;
      position: relative;

      ul {
        display: block;
        text-align: left;

        &.center {
          text-align: center;
        }

        &.top {
          padding: 28px 26px 10px;
          border-bottom: 1px solid $text-white;
          line-height: 36px;

          span {
            margin-left: 12px;
            font-weight: 500;
            font-style: italic;
          }
        }

        &.bottom {
          padding: 28px 40px 28px 26px;
          margin: 50px auto 0;
          max-width: 435px;
          position: relative;

          li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .img__remark {
            width: 150px;
            position: absolute;
            top: -76px;
            left: 2px;
          }
        }

        li {
          display: block;
          margin-bottom: 10px;

          &.time {
            padding-left: 50px;
            position: relative;

            &::before {
              content: "";
              width: 38px;
              height: 38px;
              background: url(../img/sec_salary/time.svg) center bottom
                no-repeat;
              background-size: contain;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
            }
          }

          &.pay {
            padding-left: 50px;
            position: relative;

            &::before {
              content: "";
              width: 38px;
              height: 38px;
              background: url(../img/sec_salary/pay.svg) center bottom no-repeat;
              background-size: contain;
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
            }
          }

          &.check {
            padding-left: 30px;
            position: relative;

            &::before {
              content: "";
              width: 24px;
              height: 24px;
              background: url(../img/sec_salary/check.svg) center bottom
                no-repeat;
              background-size: contain;
              position: absolute;
              top: -2px;
              right: 0;
              left: 0;
            }
          }
        }
      }

      .img__title {
        width: 250px;
        position: absolute;
        top: -95px;
        right: -66px;
      }

      &.card--1 {
        background-color: $bg-blue-dark;
        border-image: url("../img/sec_salary/border_l.jpg") 20 round;
      }

      &.card--2 {
        background-color: $bg-blue-light;
        border-image: url("../img/sec_salary/border_r.jpg") 20 round;
      }
    }
  }

  .battery {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;

    &__title {
      width: 29%;
      flex: none;
      position: relative;
      z-index: 1;

      img {
        width: 90%;
        position: absolute;
        top: -9%;
        left: -10%;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex: 1 1 auto;
      border-radius: 22px;
      box-shadow: 28px 23px 17px -19px $text-grey;

      &--left {
        width: 26.5%;
        flex: none;
        background: url(../img/sec_salary/bg_battery_l.png) center bottom
          no-repeat;
        background-size: 100% 100%;
        position: relative;

        img {
          width: 42%;
          position: absolute;
          right: 26%;
          bottom: 16%;
        }
      }

      &--right {
        padding: 40px 12px 20px 0;
        margin-left: -1px;
        text-align: left;
        background: url(../img/sec_salary/bg_battery_r.png) center bottom
          no-repeat;
        background-size: 100% 100%;
        flex: 1 auto;
        line-height: 1.2;

        > ul {
          &.top {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;
          }

          > * {
            margin-bottom: 12px;
          }

          .light {
            display: inline-block;
            padding-left: 40px;
            margin-bottom: 22px;
            position: relative;
            flex: 1 auto;

            span {
              color: $text-yellow;
            }

            &::before {
              content: "";
              width: 40px;
              height: 40px;
              background: url(../img/sec_salary/lightning.svg) center bottom
                no-repeat;
              background-size: contain;
              position: absolute;
              top: -6px;
              right: 0;
              left: 0;
            }
          }
        }
      }
    }
  }
}

#resume {
  padding-top: 20px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: url(../img/sec_resume/bg.jpg) center bottom no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
    }

    &__plane {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      &__1 {
        width: 11%;
        opacity: 0.1;
        position: absolute;
        top: 6%;
        left: -3%;
        @include animation(cloud, 5s, 4s, ease, infinite, both);
      }

      &__2 {
        width: 7%;
        opacity: 0.1;
        position: absolute;
        top: 25%;
        left: 14%;
        @include animation(cloud, 5s, 2s, ease, infinite, both);
      }

      &__3 {
        width: 9%;
        opacity: 0.1;
        position: absolute;
        top: -4%;
        left: 54%;
        @include animation(cloud-reverse, 5s, 0s, ease, infinite, both);
      }

      &__4 {
        width: 11%;
        opacity: 0.1;
        position: absolute;
        top: 18%;
        right: 2%;
        @include animation(cloud-reverse, 5s, 3.5s, ease, infinite, both);
      }
    }

    &__doll {
      width: 12%;
      position: absolute;
      bottom: 336px;
      left: 14%;
    }

    &__factory {
      width: 25%;
      position: absolute;
      right: 0;
      bottom: 367px;
    }

    &__led {
      width: 5.5%;
      position: absolute;
      right: 1.5%;
      bottom: 265px;
    }
  }

  .container {
    .title {
      max-width: 410px;
    }

    .content {
      padding: 80px 0;

      &__card {
        align-items: center;
        margin-right: 45px;
        margin-bottom: 55px;
        text-align: left;
        position: relative;

        &__title {
          padding-right: 26px;
          padding-left: 90px;
          flex: none;
          position: relative;

          h4 {
            font-weight: 600;
            color: $text-yellow;
            line-height: 1.4;

            span {
              display: block;
            }
          }

          &::before {
            content: "";
            display: block;
            border-left: 7px dotted rgba(255, 255, 255, 0.2);
            width: 0;
            height: 440px;
            position: absolute;
            bottom: 47px;
            left: 35px;
            z-index: -1;
          }

          &.title--2 {
            &::before {
              height: 300px;
            }
          }

          &::after {
            content: "";
            display: block;
            width: 105px;
            height: 100px;
            background: url(../img/sec_resume/landmark.svg) center bottom
              no-repeat;
            background-size: contain;
            position: absolute;
            top: 1px;
            left: -14px;
          }
        }

        &__detail {
          overflow: hidden;
          padding: 38px 30px;
          background-color: white;
          border-radius: 22px;
          flex: 1 auto;
          position: relative;

          li {
            padding-left: 26px;
            width: 75%;
            max-width: 550px;
            position: relative;
            line-height: 1.6;

            &::before {
              content: "";
              display: block;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 6px 0 6px 10px;
              border-color: transparent transparent transparent #183785;
              position: absolute;
              top: 12px;
              left: 6px;
            }
          }
        }

        .application {
          width: 25%;
          position: absolute;
          right: -7.2%;
          bottom: 8%;
        }
      }

      &__interview {
        justify-content: space-between;
        margin: 170px auto 0;
        width: 100%;
        max-width: 720px;

        &__card {
          margin-bottom: 70px;
          width: 47%;
          background-color: white;
          border: 12px solid $border-orange;
          position: relative;

          .title {
            padding: 10px;
            width: 84%;
            font-weight: 500;
            color: #fff;
            border-radius: 35px;
            position: absolute;
            top: -28px;
            left: 8%;
            @include linear-gradient(
              56deg,
              rgba(251, 176, 59, 1) 0%,
              rgba(251, 176, 59, 1) 51%,
              rgba(250, 135, 10, 1) 51%,
              rgba(250, 135, 10, 1) 76%,
              rgba(251, 176, 59, 1) 76%,
              rgba(251, 176, 59, 1) 100%
            );
          }

          &--pl {
            li {
              padding-left: 23px;
            }
          }

          ul {
            padding: 66px 40px 55px;
            font-weight: 600;
            text-align: left;

            li {
              letter-spacing: 1px;
              line-height: 1.4;

              &.color-red {
                margin-bottom: 14px;
              }

              &.mb-8 {
                margin-bottom: 8px;
              }

              &.location {
                position: relative;

                &::before {
                  content: "";
                  width: 24px;
                  height: 38px;
                  background: url(../img/sec_resume/landmark_small.svg) center
                    bottom no-repeat;
                  background-size: contain;
                  position: absolute;
                  top: -5px;
                  right: 0;
                  left: -9px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#benefit {
  padding-top: 40px;
  padding-bottom: 100px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  z-index: 1;

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    &__led1 {
      width: 4.5%;
      position: absolute;
      bottom: 75px;
      left: 11.5%;
      z-index: 1;
    }

    &__led2 {
      width: 4.5%;
      position: absolute;
      right: 5.5%;
      bottom: 128px;
      z-index: 1;
    }

    &__led3 {
      width: 4.2%;
      position: absolute;
      right: 13.7%;
      bottom: 223px;
      z-index: 1;
    }

    &__left {
      width: 47.24%;
      position: absolute;
      top: 115px;
      left: 0;
      z-index: -1;
    }

    &::before {
      content: "";
      padding-bottom: 14.844%;
      width: 100%;
      background: url(../img/sec_benefit/top.png) center bottom no-repeat;
      background-size: cover;
      position: absolute;
      top: -40px;
    }

    &::after {
      content: "";
      padding-bottom: 35.729%;
      width: 100%;
      background: url(../img/sec_benefit/bg_bottom.png) center bottom no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
    }
  }

  .content {
    justify-content: space-between;
    margin: 70px auto 0;
    width: 100%;

    &__card {
      padding: 38px 45px 50px 28px;
      margin-top: 215px;
      margin-bottom: 70px;
      width: 46%;
      text-align: center;
      background-color: white;
      border: 3px solid $border-blue;
      box-shadow: 10px 7px 15px -4px $text-grey;
      position: relative;

      ul {
        display: block;
        text-align: left;

        li {
          display: block;
          padding-left: 50px;
          margin-bottom: 8px;
          font-weight: 600;
          position: relative;
          line-height: 1.6;

          &::before {
            content: "";
            width: 38px;
            height: 38px;
            background: url(../img/sec_benefit/check.svg) center center
              no-repeat;
            position: absolute;
            top: 1px;
            left: 0;
          }

          span {
            display: block;
            font-weight: 500;
            color: $text-grey;

            &.remark {
              max-width: 260px;
            }
          }
        }
      }

      .img__title {
        width: 250px;
        position: absolute;
        bottom: calc(100% + 3px);
        left: 5%;
      }

      .img__subTitle {
        width: 250px;
        position: absolute;
        bottom: 107%;
        left: 47%;
      }

      .img__remark {
        width: 150px;
        position: absolute;
        right: 0;
        bottom: 0;
      }

      &.card--1 {
        color: $text-red-dark;
      }

      &.card--2 {
        color: $text-green;
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  #resume {
    .bg {
      &__doll {
        bottom: 313px;
      }

      &__factory {
        bottom: 347px;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  #salary {
    .bg::after {
      bottom: 0;
    }
  }

  #resume {
    .bg {
      &__doll {
        left: 8%;
      }

      &__factory {
        bottom: 347px;
      }
    }
  }

  #benefit {
    padding-top: 0;
  }
}
@media screen and (max-width: 1280px) {
  #kv {
    .kv__content {
      &__title {
        .bg-red,
        .bg-green {
          &::before {
            width: 55px;
            height: 55px;
          }
        }
      }

      &__subTitle {
        width: 780px;
      }
    }
  }

  #resume {
    .bg {
      &__doll {
        bottom: 297px;
        left: 5%;
      }

      &__factory {
        bottom: 329px;
      }
    }
  }

  #benefit {
    margin-top: -80px;
  }
}
@media screen and (max-width: 1024px) {
  #kv {
    .kv__content {
      &__subTitle {
        width: 700px;
        max-width: none;
      }
    }
  }

  #resume {
    .bg {
      &__factory {
        bottom: 313px;
      }
    }

    .container {
      .content {
        &__card {
          margin-right: 82px;
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  #kv .kv__content {
    &__title {
      .bg-red,
      .bg-green {
        &::before {
          width: 46px;
          height: 46px;
        }
      }
    }

    &__buttons--left img {
      width: 150px;
      top: 5px;
    }
  }

  #resume .container {
    .content__card__title::after {
      top: -10px;
    }

    .content__interview {
      max-width: 600px;

      &__card {
        ul {
          padding: 50px 40px 45px;
        }
      }
    }
  }

  #benefit {
    .bg::before {
      top: 0;
    }
  }
}
@media screen and (max-width: 820px) {
  #kv {
    .kv__content {
      h1 {
        .kv__content__image {
          padding-top: 2%;
        }
      }

      &__title {
        padding-left: 2%;
      }

      &__subTitle {
        padding-left: 3%;
      }
    }

    .kv__footer {
      img {
        width: 120px;
      }

      h2 {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .title {
      h2 {
        padding: 4px 16px 6px;
        margin-top: 10px;
        font-size: 18px;
      }
    }

    #kv {
      .kv {
        &__content {
          justify-content: start;
          padding: 30px 0;
          width: 100%;
          position: relative;
          @include linear-gradient(
            to right,
            rgba(27, 20, 100, 1) 0%,
            rgba(11, 13, 69, 1) 40%,
            rgba(6, 10, 57, 1) 100%
          );

          h1 {
            padding-top: 10px;

            .kv__content__image {
              width: 100%;
            }
          }

          &__title {
            margin-bottom: 20px;
            text-align: center;
          }

          &__subTitle {
            padding: 10px 20px;
            width: 100%;
          }
        }
      }
    }

    #salary {
      .bg {
        &::before,
        &::after {
          padding-bottom: 80%;
        }

        &__led {
          width: 20%;
          bottom: 50px;
          left: 9%;
        }

        &__doll {
          width: 25%;
          right: 9%;
          bottom: 0;
        }
      }

      .content {
        flex-direction: column;

        &__card {
          margin-right: auto;
          margin-left: auto;
          width: 100%;
          max-width: 427px;

          .img__title {
            width: 58%;
            top: auto;
            right: -16%;
            bottom: 90%;
          }
        }
      }

      .battery {
        flex-direction: column;

        &__title {
          width: 100%;

          img {
            margin: 0 -20px -35px auto;
            width: 50%;
            position: relative;
            right: 0;
            left: auto;
          }
        }
      }
    }

    #resume .container {
      .content {
        &__card {
          flex-direction: column;
          margin-right: 0;

          &__title {
            &::before {
              content: none;
            }
          }

          &__detail {
            width: 92.2%;

            li {
              width: 84%;
            }
          }

          .application {
            right: -3.3%;
          }
        }
      }
    }

    #benefit {
      .bg {
        &::after {
          padding-bottom: 80%;
          background-position: right bottom;
        }

        &__left {
          width: 100%;
        }

        &__led1 {
          width: 10%;
        }

        &__led2 {
          width: 10%;
        }
      }

      .content {
        flex-direction: column;

        &__card {
          margin-right: auto;
          margin-left: auto;
          width: 100%;
          max-width: 427px;

          .img__subTitle {
            width: 50%;
            left: 55%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 620px) {
    #kv {
      .kv__content {
        &__subTitle {
          flex-direction: column;
          margin: auto;
          max-width: 290px;

          li {
            margin-bottom: 12px;
          }
        }
      }
    }

    #benefit {
      margin-top: -140px;
    }
  }
  @media screen and (max-width: 619px) {
    #resume {
      .container {
        .content__interview {
          flex-direction: column;

          &__card {
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            max-width: 248px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    #kv {
      .kv__content {
        &__title {
          .bg-red,
          .bg-green {
            &::before {
              width: 40px;
              height: 40px;
            }
          }
        }

        &__subTitle {
          max-width: 260px;

          .sub::before {
            border-width: 5px 0 5px 10px;
            top: calc(50% - 5px);
          }
        }
      }
    }

    #salary {
      padding-bottom: 180px;

      .content {
        margin-top: 0;

        &__card ul {
          &.top {
            padding: 28px 20px 10px;
          }

          &.bottom {
            padding: 28px 34px 28px 20px;
          }

          li {
            &.check {
              &::before {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      .battery__content {
        &--left {
          width: 22.5%;
        }

        &--right > ul {
          & > * {
            margin-bottom: 6px;
          }

          .light {
            padding-left: 26px;
            margin-bottom: 8px;

            &::before {
              width: 28px;
              height: 28px;
              top: -1px;
            }
          }
        }
      }
    }

    #resume .container {
      .content {
        &__card {
          &__title {
            padding-left: 70px;

            &::after {
              width: 90px;
              height: 90px;
            }
          }

          &__detail {
            li {
              width: 81%;
            }
          }

          .application {
            width: 30%;
            right: -4.7%;
          }
        }

        &__interview {
          &__card ul li {
            &.location {
              &::before {
                width: 14px;
                height: 22px;
                top: -2px;
                left: 5px;
              }
            }
          }
        }
      }
    }

    #benefit .content__card ul {
      li {
        padding-left: 32px;

        &::before {
          width: 28px;
          height: 28px;
          top: 2px;
        }
      }
    }
  }

  @media screen and (max-width: 360px) {
  }
}
