@charset 'utf-8';

/* -------------SELECTION--------- */
::selection {
  color: white;
  background: $color-primary;
}

/* -------------MAIN-------------- */
body {
  opacity: 0;
  scroll-behavior: smooth;

  &.loaded {
    opacity: 1;
  }
}

.sr-only {
  overflow: hidden;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.adBar {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    margin: 0 auto;
    max-width: 1140px;
    font-size: 12px;
    position: relative;
  }

  .left {
    font-size: 16px;
    font-weight: 600;
  }
}

.btn-fix {
  width: 120px;
  opacity: 0;
  position: fixed;
  top: 40%;
  right: 1%;
  z-index: 5;
  cursor: pointer;
  pointer-events: none;
  @include transition(all 0.25s ease);

  img {
    width: 100%;
  }

  h2 {
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: $text-blue;
    position: absolute;
    letter-spacing: 0;
    left: 0;

    span {
      display: block;
      font-size: 21px;
    }
  }

  &.fixButton--1 {
    top: 30%;

    h2 {
      color: $text-orange;
      top: 15%;

      span {
        font-size: 18px;
      }
    }
  }

  &.fixButton--2 {
    top: calc(30% + 110px);

    h2 {
      top: 26%;
    }
  }

  &.fixButton--3 {
    top: calc(30% + 220px);

    h2 {
      top: 26%;
    }
  }

  .hover {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    @include transition(opacity 0.25s ease);
  }

  &:hover {
    .hover {
      opacity: 1;
    }
    @include scale(1.1, 1.1);
  }

  &:active {
    @include scale(0.95, 0.95);
  }

  &.is-show {
    pointer-events: auto;
    opacity: 1;
  }
}

@media screen and (max-width: 1440px) {
  .btn-fix {
    right: 1em;
    left: auto;
  }
}
@media screen and (max-width: 1024px) {
  .btn-fix {
    width: 100px;

    h2 {
      font-size: 16px;

      span {
        font-size: 18px;
      }
    }

    &.fixButton--1 {
      h2 {
        span {
          font-size: 16px;
        }
      }
    }

    &.fixButton--2 {
      top: calc(30% + 90px);
    }

    &.fixButton--3 {
      top: calc(30% + 180px);
    }
  }
}
@media screen and (max-width: 768px) {
  body {
    padding-bottom: 4em;
  }

  .btn-fix {
    &.fixButton--1 {
      width: 100%;
      text-align: center;
      background-color: $bg-blue;
      border: 3px solid $bg-blue-dark;
      opacity: 1 !important;
      top: auto;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(
        to top,
        $bg-blue-dark 0%,
        $bg-blue 100%
      );

      &:hover {
        @include transform(none);
      }

      @include animation-name(none);

      h2 {
        padding: 8px;
        margin: 0;
        font-size: 28px;
        color: $text-white;
        position: relative;
        letter-spacing: 0;

        span {
          display: inline-block;
          font-size: 28px;
        }
      }
    }
  }
}
